# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cc text diff=cpp
*.h text diff=cpp
*.java text diff=java
*.json text
*.gradle text
